.car-image {
    border: 3px dotted #cecece;
    text-align: center;
}

.main-info {
    padding: 10px 10px 0px 15px;
    text-align: center;
    font-size: 1.2rem;
    color: #1E88E5;
    font-weight: bolder;
}

.display-info {display: flex;padding: 8px 20px;box-shadow: 0px 0px 5px -2px #c6c6c6;align-items: center;border: 1px solid #efefef;}
.display-info > i{
    margin-right: 0px !important;
    width: 36px;
}

.display-info span{
    color: #89899d;
    text-transform: capitalize;
    flex: 1;
    padding: 5px 0px;
}

.module-chart-active {
    position: relative;
}
.module-chart-active::before {
    content: 'O';
    background-color: #6fff52bd;
    color: #45d900;
}
.module-chart-off::before {
    content: 'X';
    background-color: #ff5252bd;
    color: #d90000;
}
.module-chart-active::before, .module-chart-off::before {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    top: -50px;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    
}
