.page-wrapper {
	background: #FFF;
}

.mailbox .message-center a .mail-contnet {
	display: inline-flex;
	flex-wrap: wrap;
}
.mail-actions {
	text-align: center;
}
.mailbox .message-center a .mail-contnet h5 {
	margin: 3px 4px;
}
.mailbox .message-center a .mail-contnet .mail-desc,
.mailbox .message-center a .mail-contnet .time {
	margin: 3px 5px;
}
.mail-actions .time {
	margin: 5px;
	font-size: 14px;
	color: #5580ff;
}
.mail-actions button {
	margin: 5px;
}
.mailbox .message-center {
	height: unset;
}

.sidebar-nav {
	background: #242939;
}
.left-sidebar {
	background: #242939;
}
.card-no-border .sidebar-footer {
	background: #1b1e29;
}

.demo-checkbox label,
.demo-radio-button label {
	min-width: 0px;
}
.transition {
	transition: all 2s ease-in-out;
}

.danger-input {
	background-image: none !important;
	border: none !important;
	border-bottom: 1.2px solid red !important;
	position: relative;
}
.danger-text {
	color: red;
	font-weight: bolder;
}

.hovered {
	transition: all 0.3s ease-in-out;
}
.hovered:hover {
	transform: perspective(500px) translateZ(10px);
	box-shadow: 0px 0px 40px -6px #00000063;
}

.chart canvas {
	box-shadow: 0px 0px 43px -15px #000000c7;
	border-radius: 50px;
	transform: perspective(500px) translateZ(10px);
}

.sidebar-nav ul li a.active {
	color: #26c6da;
}


.login-sidebar .login-box {
	overflow-y: auto;
}

.card-no-border .card {
	border: none;
	border-radius: 4px;
	box-shadow: 0 0px 5px rgba(69, 77, 87, 0.15);
}